body {
    background: url("../img/bg_ocean3.jpg") center fixed;
    background-size: cover;
}

@font-face {
    font-family: "onepiece";
    src: url(OPFont.ttf);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.menu a {
    font-family: "onepiece";
    min-width: 22%;
    margin: 1%;
    padding: 1%;
    text-align: center;
    background-size: cover;
    color: #fff;
    text-decoration: none;
    border: 1px solid #ffd700;
    border-radius: 4px;
    font-size: 300%;
}

.menu a.accueil{
    background-image: url("../img/luffist_static.png");
}

.menu a.accueil:hover {
    background-image: url("../img/luffist.gif");
}

.menu a.sondage {
    background-image: url("../img/OPGOLD_static.png");
}

.menu a.sondage:hover {
    background-image: url("../img/OPGOLD.gif");
    background-size: cover;
}

.menu a.theories {
    background: url("../img/nono_static.png") center;
    background-size: cover;
}

.menu a.theories:hover {
    background: url("../img/nono.gif") center;
    background-size: cover;
}

.test {
    font-family: "onepiece";
    background-image: url("../img/aaaa.jpg");
    background-size: contain;
    margin-left: 25%;
    margin-right: 25%;
}

.test h1 {
    display : flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    font-size: 200%;   
}

.test h3 {
    display : flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.test img {
    display:block;
    margin: auto;
    width: 100%;
    height: auto;
}

.back_arrow{
    width: 50px;
    position: fixed;
    top: 0;
    right: 0;
}

form {
    display : flex;
    background-image: url("../img/Test.jpg");
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left : 100px;
    margin-right : 100px;
}

.piece img{
    display: flex;
    justify-content: flex-end;
    width: 20px;
    height: 20px;
}

.a img {
    display:block;
    margin: auto;
    width: 85%;
    height: auto;
}

.test strong.rôle:hover { /*Permet mettre changer la couleur du texte quand ont met la souris dessus*/
    color:firebrick;
}

h2, p, q {
    padding-left: 5%;
    padding-right: 5%;
}

q.fin {
    padding-bottom: 5%;
}

@media screen and (max-width: 600px) {
    /* Style appliqué uniquement sur les écrans de largeur < 600px */
    .back_arrow {
    width: 0px;
    position: fixed;
    top: 0;
    right:0;
    }
    .menu a {
    min-width: 10%;
    margin: 1%;
    margin-top: 5%;
    padding: 7%;
    font-size: 150%;
    }
    .test {
    background-size: contain;
    margin-left: 10%;
    margin-right: 10%;
}
}