body {
    background: url("../img/bg_ocean3.jpg") center fixed;
    background-size: cover;
    font-family: "onepiece";
}

@font-face {
    font-family: "onepiece";
    src: url(OPFont.ttf);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.menu a {
    min-width: 15%;
    margin: 1%;
    padding: 2%;
    text-align: center;
    background-size: cover;
    color: #fff;
    text-decoration: none;
    border: 1px solid #ffd700;
    border-radius: 4px;
    font-size: 300%;
}

.menu a.Maccueil{
    background-image: url("../img/luffist_static.png");
}

.menu a.Maccueil:hover {
    background-image: url("../img/luffist.gif");
}

.menu a.Msondage {
    background-image: url("../img/OPGOLD_static.png");
}

.menu a.Msondage:hover {
    background-image: url("../img/OPGOLD.gif");
    background-size: cover;
}

.menu a.Mtheories {
    background: url("../img/nono_static.png") center;
    background-size: cover;
}

.menu a.Mtheories:hover {
    background: url("../img/nono.gif") center;
    background-size: cover;
}

.prez {
    background-image: url("../img/oldpapertexture.jpg");
    background-size: contain;
    margin-left: 25%;
    margin-right: 25%;
}

.prez h1 {
    display : flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    font-size: 200%;   
}

.prez h3 {
    display : flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    font-size: 190%;
    padding-top: 5%; 
}

.prez img {
    display:block;
    margin: auto;
    width: 100%;
    height: auto;
}

.prez p {
    font-size: 160%;
}

.prez blockquote {
    font-size: 140%;
}

.prez h2, p {
    padding-left: 5%;
    padding-right: 5%;
}

.jimbei {
    padding-bottom: 5%;
}

.prez strong.rôle:hover { /*Permet mettre changer la couleur du texte quand ont met la souris dessus*/
    color:firebrick;
}

.article img {
    display:block;
    margin: auto;
    width: 60%;
    height: auto;
}

.article h2 {
    padding-top: 3%;
    font-size: 200%;
}

.article p {
    font-size: 150%;
}

.article p, .article h2 {
    padding-left: 10%;
    padding-right: 10%;
}

.back_arrow{
    width: 50px;
    position: fixed;
    top: 0;
    right: 0;
}

.theories h1 {
    display : flex;
    justify-content: center;
    font-size: 250%;
}

.theories p {
    font-size: 200%;
}

.theories img {
    float: left;
    width: 40%;
}

.theories section{
    margin-left: 8%;
}

.sondage {
    display: flex;
    flex-direction: column;
}

.sondage h1{
    display: flex;
    justify-content: center;
    font-size: 200%;
}

.sondage form {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    font-size: 150%;
    background-image: url("../img/formbg.jpg");
    background-size: cover;
    background-position: center;
    border: solid 5px;
    border-radius: 1em;
    padding: 3%;
    margin-left: 18%;
    margin-right: 18%;
}

.footer img.easter{
    display: flex;
    align-self: flex-end;
    width: 20px;
    height: 20px;
}

.page-container {
    position: relative;
    min-height: 100vh;
}
  
.content-wrap {
    padding-bottom: 4rem;  
}
  
.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 5px;
}

.footer img {
    width: 50px;
    border-radius: 25%;
}

@media screen and (max-width: 600px) {
    /* Style appliqué uniquement sur les écrans de largeur < 600px */
    .back_arrow {
    width: 0px;
    position: fixed;
    top: 0;
    right:0;
    }
    
    .menu a {
    min-width: 10%;
    margin: 1%;
    margin-top: 5%;
    padding: 7%;
    font-size: 150%;
    }
    
    .prez {
    background-size: contain;
    margin-left: 10%;
    margin-right: 10%;
    }
    
    .autrePerso img, .Popu img {
    width: 75%;
    }
    
    .theories img {
    width: 90%;
    }

    .sondage form {
        margin-left: 0%;
        margin-right: 0%;
    }
    
    .theories p {
    font-size: 95%;
    }
    
    .theories img {
    max-width: 60%; 
    }

    .footer img {
    width: 35px;
    }
}