/*plus tard*/
h1 {
    display : flex;
    justify-content: center;
    align-items: center;
}

form {
    display : flex;
    background-image: url("../img/Test.jpg");
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left : 100px;
    margin-right : 100px;
}

.piece {
    display: flex;
    justify-content: flex-end;
    width: 20px;
    height: 20px;
}