body {
    background: url("../img/bg_ocean3.jpg") center fixed;
    background-size: cover;
}


.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.menu a {            /* Transformation en block */
    min-width: 120px;
    margin: 0.5rem;               /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.4rem 0;            /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    text-align: center;           /* Centrage du texte */   
    background-size: cover;    /* Couleur d'arrière-plan */
    color: #fff;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #fff;       /* Ajout d'une bordure */
    border-radius: 4px;
}

.menu a.accueil{
    background-image: url("../img/LuffyWano.jpg");
}

.menu a.accueil:hover {
    background-image: url("../img/luffist.gif");
}

.menu a.sondage {
    background-image: url("../img/nono.png");
}

.menu a.theories {
    background: url("../img/nono.gif") center;
    background-size: cover;
}

/*plus tard*/
h1 {
    display : flex;
    justify-content: center;
    align-items: center;
}

form {
    display : flex;
    background-image: url("../img/Test.jpg");
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left : 100px;
    margin-right : 100px;
}

.piece {
    display: flex;
    justify-content: flex-end;
    width: 20px;
    height: 20px;
}