body {
    background: url("../img/luffybg.jpg") center fixed;
    background-size: cover;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #ffd700;
}

.menu a {
    min-width: 15%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 300%;
    border-bottom: solid 5px;
    border-color: transparent;
}

.menu a:hover {
    border-color: white;
}

#active {
    color: black;
    box-shadow: 5px 6px 7px;
}

.prez {
    display: flex;
    flex-direction: column;
}

h1 { 
    display: flex;
    justify-content: center;
    font-size: 300%;
    color: white;
}

.prezPerso {
    display: flex;
    justify-content: center;
    font-size: 200%;
    color: white;
}

.ligne{
    display: flex;
    /*flex-direction: row;*/
    margin-left: 5%;
    margin-right: 5%;
}

.ligne img{
    float: left;
    width: 50%;
}

.ligne section {
    background-color: beige;
    border: dashed 3px;
    margin: 1%;
}

.ligne h3 {
    display: flex;
    justify-content: center;
}

.article {
    background-color: beige;
    border: dashed 3px;
    margin: 5%;
}

.article h2 {
    margin-left: 2%;
}

.article p {
    padding-left: 5%;
    padding-right: 5%;
}

.article img{
    display:block;
    margin: auto;
    margin-bottom: 1%;
    width: 50%;
}

.back_arrow{
    width: 50px;
    position: fixed;
    top: 0;
    right: 0;
}

.sondage form {
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 0;
    align-items: center;
}

.sondage select {
    max-width: 77px;
}

.sondage input{
    max-width: 180px;
}

.sondage textarea {
    max-width: 300px;
}

.sondage input,select,textarea {
    border-radius: 10px;
}

.sondage input:hover,select:hover,textarea:hover {
    background-color: blue;
}

.theories {
    background: url(../img/Trésor.PNG);
    background-size: cover;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
}

.theories h1 {
    display : flex;
    justify-content: center;
    font-size: 250%;
}

.theories p {
    font-size: 200%;
}


.theories img {
    position: absolute;
    opacity: 0;
    width: 1%;
}

.theories section{
    margin-left: 8%;
}

.page-container {
    position: relative;
    min-height: 100vh;
}
  
.content-wrap {
    padding-bottom: 4rem;  
}
  
.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 5px;
}

.footer img {
    width: 50px;
    border-radius: 25%;
}

@media screen and (max-width: 600px) {
    /* Style appliqué uniquement sur les écrans de largeur < 600px */
    .ligne{
        flex-direction: column;
    }
    
    .menu a {
        font-size: 160%;;
    }

    .back_arrow {
        opacity: 0;
        }
}