body {
    background: url("../img/bg_ocean3.jpg") center fixed;
    background-size: cover;
}

@font-face {
    font-family: "onepiece";
    src: url("OPFont.ttf") fromat("ttf");
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.menu a {
    font-family: "onepiece";
    min-width: 120px;
    margin: 0.5em;
    padding: 0.4em 0;
    text-align: center;
    background-size: cover;
    color: #fff;
    text-decoration: none;
    border: 1px solid #ffd700;
    border-radius: 4px;
}

.menu a.accueil{
    background-image: url("../img/luffist_static.png");
}

.menu a.accueil:hover {
    background-image: url("../img/luffist.gif");
}

.menu a.sondage {
    background-image: url("../img/OPGOLD_static.png");
}

.menu a.sondage:hover {
    background-image: url("../img/OPGOLD.gif");
    background-size: cover;
}

.menu a.theories {
    background: url("../img/nono_static.png") center;
    background-size: cover;
}

.menu a.theories:hover {
    background: url("../img/nono.gif") center;
    background-size: cover;
}

.test {
    background-image: url("../img/aaaa.jpg");
    background-size: contain;
    margin-left: 25%;
    margin-right: 25%;
}

.test h1 {
    display : flex;
    justify-content: center;
    align-items: center;
}

.test h3 {
    display : flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.test img {
    display:block;
    margin: auto;
    width: 100%;
    height: auto;
}

.back_arrow{
    width: 50px;
    position: fixed;
    top: 0;
    right: 0;
}

form {
    display : flex;
    background-image: url("../img/Test.jpg");
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left : 100px;
    margin-right : 100px;
}

.piece img{
    display: flex;
    justify-content: flex-end;
    width: 20px;
    height: 20px;
}
